<!DOCTYPE html>
<html>
    <main>
        <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignment 2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css')}}" />
    </head>
        <body>
          <h1>Search For an item inside a database.</h1>
      <search>
        <form id ="form2" action="/task3" method="post">
        <input type="text" id="search_query" required>
        <button id="search_button">Search</button>
        </form>
      </search>
        </body>
    </main>
</html>