<!DOCTYPE html>
<html>
    <main>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Assignment 2</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
       <h2>Item Result: ID = {{ search_query }}</h2>

    {% if results %}

      {% for inv, record in results.items() %}
    <strong>Warehouse {{ inv }}</strong>: {{ record }}
      {% endfor %}
      
    {% else %}
      <p>No matching item found in any inventory.</p>
    {% endif %}

    </body>
</main>
</html>