<!DOCTYPE html>
<html>
    <main>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Assignment 2</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
       <h2>Item Result: ID = {{ search_query }}</h2>
    {% if results and results|length > 0%} 
       <div class = result-box>
        Steps, of how the inventories Calculate their keys. <br>
        How the keys were made using the "list_of_keys" document. <br>
        The p, q, and e <br>
        {{pkg}} <br>
        n = p x q <br>
        pkg_n = {{pkg["p"]}} x {{pkg["q"]}} <br>
        pkg_n = {{pkg_n}}<br>
        phi = (p-1) x (q-1)<br>
        pkg_phi = ({{pkg["p"]}} - 1) x ({{pkg["q"]}} - 1)<br>
        pkg_phi = {{pkg_phi_n}} <br>
        <br>
        Now Calculating the private key<br>
        d = e<sup>-1</sup> mod pkg_phi<br>
        pkg_d = {{pkg["e"]}}<sup>-1</sup> mod {{pkg_phi_n}}<br>
        pkg_d = {{pkg_d}}<br>
        <br>
        Searching the inventory records: Found <br>
        <strong>Warehouse {{ inv }}</strong>: {{ record }}<br>
        Signature generation: After result has been found:<br>
        The PKG generates the secret key for each inventory using an ID assosiated with each of them <br>
        Id for A: 126, B: 127, C: 128, D: 129 <br>
        Secret keys for each inventory are computed using this formula:<br>
        g<sub>x</sub> = id<sup>x</sup> mod {{pkg_n}} <br>
        The signers then have a random number associated with them Which they use to calculate "t<sub>x</sub>":<br>
        t<sub>x</sub> = r<sub>x</sub><sup>e</sup> mod {{pkg_n}} <br>
        The aggregated t: <br>
        t = (t1 x t2 x t3 x t4 ...) mod n <br>
        aggregated t = {{aggregated_signature}} <br>
        Next we send the search results and initiate the consensus: <br>
        The consensus follows This: <br>
        If every calculated t value is not the same the consensus will fail if they are the same it will pass.<br>
        <br>
        {{verification_1}} <br>
        {{verification_2}}<br>
        {{results}}<br>
        <br>
        {{item_qty}}<br>
        {{encrypted_message}}<br>




      
    {% else %}
      <p>No matching item found in any inventory.</p>
    {% endif %}
      <br>



       </div>

    </body>
</main>
</html>