<!DOCTYPE html>
<html>
    <main>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Assignment 2</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
      <h2>Item Result: ID = {{ search_query }}</h2>

        {% if results and results|length > 0 %}
        <div class="result-box">
            <h2>Item Quantity: {{ item_qty }}</h2> <br>

            <h3>PKG Key Setup</h3>
            <strong>PKG Key Values:</strong><br>
            p: {{ pkg["p"] }} <br>
            q : {{ pkg["q"] }}<br>
            e: {{ pkg["e"] }}<br> <br>

            <strong>n = p × q:</strong> {{ pkg["p"] }} × {{ pkg["q"] }} <br> <br>
             <strong>n = </strong> {{ pkg_n }}<br> <br> 

            <strong>φ(n) = (p − 1) × (q − 1):</strong> ({{ pkg["p"] }} - 1) × ({{ pkg["q"] }} - 1) <br> <br>
             <strong>φ(n) = </strong>{{ pkg_phi_n }}<br> <br>

            <strong>d = e⁻¹ mod φ(n):</strong> {{ pkg["e"] }}⁻¹ mod {{ pkg_phi_n }} = {{ pkg_d }}<br><br>

            <h3> Inventory Record Match</h3>
            <strong>Found in: </strong> Warehouse {{ matched_warehouse }}<br>
            <strong>Record: </strong>{{ matched_record }}<br><br>

            <h3>Signature Generation</h3>
            <strong>Each inventory has an associated ID:</strong><br>
            A = 126, B = 127, C = 128, D = 129<br> <br>

            <strong>Secret keys for each inventory are computed using this formula:</strong> <br><br> 
            g<sub>x</sub> = id<sup>x</sup> mod {{ pkg_n }}<br><br>

            Signers then have a random number associated with them Which they use to calculate: <br>
            t<sub>x</sub> = r<sub>x</sub><sup>e</sup> mod {{ pkg_n }}<br><br>

            <h3>Aggregated T Signature</h3>
            t = (t1 x t2 x t3 x t4) mod n<br> <br>
            aggregated t: {{ aggregated_signature }}<br><br>

            <h3>Multi-Signature</h3> 
            <strong>The message from each wherehouse is signed to get s<sub>x</sub></strong> <br>
            s<sub>x</sub> = (g<sub>x</sub> x r<sub>x</sub>)<sup>(hash(t, m))</sup> mod n<br><br>

            <strong>Then aggregated s is calculated</strong><br>
            s = (s1 x s2 x s3 x s4) mod  <br>
            s = {{s}} <br><br>

            <strong>Then we have the final signature (m, t, s)</strong><br>
            (m, t, s) = ({{ aggregated_signature }}, {{s}}, {{hashed_message_decimal}})<br><br>

            <h3>Multi-Signature Verification </h3>
           <strong>Two verification equations are used to verify the validity of the Multi-Signature</strong> <br> <br>
            <strong>Verification 1 (s<sup>e</sup> mod n) = </strong> {{ verification_1 }}<br>
            <strong>Verification 2 ((∏ i<sub>x</sub>x t)<sup>Hash(t,m)</sup> mod n) = </strong> {{ verification_2 }}<br><br>

            <strong>Verification 1 and Verification 2, therefore Multi-Signature is verified</strong> 
        </div>
        {% else %}
        <p>No matching item found in any inventory.</p>
        {% endif %}
      <br>



       </div>

    </body>
</main>
</html>